#titre1 {
    color: rgb(233, 116, 7);

}

#titre2 {
    color: rgb(255, 255, 255);
}

#paragraphe1 {
    color: white;
    max-width: 1000px;
    margin: auto;
}

#Benoit {
    font-size:x-large ;
}

#photo {
    text-align-last: auto;
}

#contact {
    border: 0;
}