block content
    .card-deck(style='justify-content: center;').py-5
        .row
            .col-md-4.text-center
                .card(style='background-color: lightgrey; border:none;')
                    .card-header
                    a(href='/images/CEM.jpg')
                        img.img-fluid(src='images/CEM.jpg' alt='CEM' data-toggle='tooltip' title="Marchand d'expérience" style='width: 150px; height: 150px;')
                    .card-body(style='background-color: lightgrey; border:none;')
                    h3 Maître d'hôtel
                    p1 Gestion de centaines d'évènements
            .col-md-4.text-center
                .card(style='background-color: lightgrey; border:none;')
                    .card-header.text-center
                    a(href='/images/BAR.jpg')
                        img.img-fluid(src='images/BAR.jpg' alt='Livraison' data-toggle='tooltip' title="Priorité Client" style='width: 150px; height: 150px;')
                    .card-body(style='background-color: lightgrey; border:none;')
                    h3 Chef Barman 
                    p1 Responsable de l'expérience client
            .col-md-4.text-center
                .card(style='background-color: lightgrey; border:none;')
                    .card-header
                    a(href='/images/POL.jpg')
                        img.img-fluid(src='images/POL.jpg' alt='Chefferie PEQ' data-toggle='tooltip' title='Parlement Étudiant' style='width: 150px; height: 150px;')
                    .card-body(style='background-color: lightgrey; border:none;;')
                    h3 Politique
                    p1 Background politique et discursif
                    br

