block content
    .card-deck(style='justify-content: center;').py-5
        .row
            .col-md-4.text-center
                .card.bg-dark(style='border:none;')
                    .card-header(style='border:none;')
                    a(href='/images/CEM.jpg')
                        img.img-fluid(src='images/CEM.jpg' alt='CEM' data-toggle='tooltip' title="Marchand d'expérience" style='width: 150px; height: 150px;')
                    .card-body.bg-dark(style='border:none;')
                    h3.text-white Maître d'hôtel
                    p1.text-white Gestion de centaines d'évènements
                    br
            .col-md-4.text-center
                .card.bg-dark(style='border:none;')
                    .card-header.text-center(style='border:none;')
                    a(href='/images/BAR.jpg')
                        img.img-fluid(src='images/BAR.jpg' alt='Livraison' data-toggle='tooltip' title="Priorité Client" style='width: 150px; height: 150px;')
                    .card-body.bg-dark(style='background-color: lightgrey; border:none;')
                    h3.text-white Chef Barman 
                    p1.text-white Responsable de l'expérience client
                    br
            .col-md-4.text-center
                .card.bg-dark(style='background-color: lightgrey; border:none;')
                    .card-header(style='border:none;')
                    a(href='/images/POL.jpg')
                        img.img-fluid(src='images/POL.jpg' alt='Chefferie PEQ' data-toggle='tooltip' title='Parlement Étudiant' style='width: 150px; height: 150px;')
                    .card-body.bg-dark(style='background-color: lightgrey; border:none;;')
                    h3.text-white Politique
                    p1.text-white Background politique et discursif
                    br
                    br

