#footer.mt-auto
  .container-fluid
    .row.bg-dark.py-2
      .d-none.d-md-block.col-4.m-auto.text-center
        p.text-white= "Suivez-moi sur les réseaux sociaux!"
        a(href="https://www.facebook.com/brobichaud12") 
          i.fab.fa-facebook.fa-2x.mx-2.text-light
        a(href="https://www.linkedin.com/in/benoit-robichaud/") 
          i.fab.fa-brands.fa-linkedin-in.fa-lg.mx-2.text-light
        a(href="https://www.instagram.com/brobichaud12/") 
          i.fab.fa-brands.fa-instagram.fa-2x.mx-2.text-light
        a(href="https://discordapp.com/users/Roux#6839/") 
          i.fab.fa-brands.fa-discord.fa-2x.mx-2.text-light
      //- .col-md-1.text-center.align-middle
      //-   br
      //-   i.fab.fa.fa-location-dot.fa-2x.mx2.text-light
      //-   br
      //-   i.fab.fa.fa-mobile.fa-2x.mx2.text-light
      //-   br
      //-   i.fab.fa.fa-envelope.fa-2x.mx2.text-light
      .col-md-3.text-center.align-middle.my-4
        p.mt-3.text-white Région Métropolitaine de Montréal
        p.mt-3.text-white Téléphone: 438-869-7689
        p.mt-3.text-white Courriel: b.robichaud12@gmail.com
        
      .col-md-4.m-auto.text-center
        br
        a.d-none.d-md-block(href="https://www.twitch.tv/thegingerizer")
          img(src="/images/logo.png", alt="logo" width="25%" height="25%")
      .d-md-none.d-sm-block.m-auto.text-center
        p.text-white= "Suivez-moi sur les réseaux sociaux!"
        a(href="https://www.facebook.com/brobichaud12") 
          i.fab.fa-facebook.fa-2x.mx-2.text-light
        a(href="https://www.linkedin.com/in/benoit-robichaud/") 
          i.fab.fa-brands.fa-linkedin-in.fa-lg.mx-2.text-light
        a(href="https://www.instagram.com/brobichaud12/") 
          i.fab.fa-brands.fa-instagram.fa-2x.mx-2.text-light
        a(href="https://discordapp.com/users/Roux#6839/") 
          i.fab.fa-brands.fa-discord.fa-2x.mx-2.text-light
    .row.pb-2(style="background-color: #f69656")
      p.text-center.m-auto.align-bottom Copyright &copy; 2022 Benoit Robichaud. Tous droits réservés.
      p.text-center.m-auto.align-bottom Icones proviennent du site freepik.com


//- i.fab.fa.fa-envelope.fa-2x.mx2.text-light
//- i.fab.fa.fa-location-dot.fa-2x.mx2.text-light
//- i.fab.fa.fa-square-phone.fa-2x.mx2.text-light