nav.navbar.navbar-expand-lg.navbar-light(style="background-color: #f69656;")
  a.navbar-brand(id="Benoit" href='/') Benoit Robichaud
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  
  .collapse.navbar-collapse(id='navbarSupportedContent')
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/').text-dark.btn.btn-outline-secondary.btn-sm.mr-2 Home
      li.nav-item
        a.nav-link(href="https://acrobat.adobe.com/link/review?uri=urn:aaid:scds:US:4d64ef6e-d018-3d3c-b4c0-64c0c2d57142").text-dark.btn.btn-outline-secondary.btn-sm.mr-2  Curriculum
      li.nav-item
        a.nav-link(href='https://github.com/12oux?tab=repositories').text-dark.btn.btn-outline-secondary.btn-sm.mr-2  Repositories
      li.nav-item
        a.nav-link(href="mailto:b.robichaud12@gmail.com").text-dark.btn.btn-outline-secondary.btn-sm.mr-2  Email

          
 
  