block content
    .jumbotron.jumbotron-fluid(style='padding:80px; background-color: #f69656;')
        .text-center.text-black
            h3 Quelques langages utilisés:
            br
            img.img-fluid.mr-4(src='images/html.png' alt='HTML' title='HTML' style='width: 50px; height: 50px;')
            img.img-fluid.mr-4(src='images/css.png' alt='CSS' title='CSS' style='width: 50px; height: 50px;')
            img.img-fluid.mr-4(src='images/js.png' alt='JS' title='JS' style='width: 50px; height: 50px;')
            img.img-fluid.mr-4(src='images/nodejs.png' alt='NODE' title='NODE' style='width: 50px; height: 50px;')
            img.img-fluid.mr-4(src='images/react.png' alt='REACT' title='REACT' style='width: 50px; height: 50px;')
            img.img-fluid.mr-4(src='images/bootstrap.png' alt='BS' title='BS' style='width: 50px; height: 50px;')
            img.img-fluid.mr-4(src='images/C.png' alt='C#' title='C#' style='width: 50px; height: 50px;')
            img.img-fluid.mr-4(src='images/sql.png' alt='SQL' title='SQL' style='width: 50px; height: 50px;')
            img.img-fluid.mr-4(src='images/php.png' alt='PHP' title='PHP' style='width: 50px; height: 50px;')
            img.img-fluid.mr-4(src='images/json.png' alt='JSON' title='JSON' style='width: 50px; height: 50px;')
            br
            br
            h3 Et quelques compétences acquises: 
            p(id="paragraphe2") Leadership | Communication | Habile sous pression | Travaillant | Expérience Client | Capacité à discourir | Bon vendeur | Apprend rapidement | Agile