extends pageLayout 

block content
    body.bg-dark(style="background: url('images/MTL.jpg') center / cover no-repeat;height: 100vh; opacity: 1;filter: brightness(100%);")
        br
        br
        h1(id="titre1").text-center Bienvenue sur mon portfolio
        .container 
            .row
                img.mx-auto.d-block.align-left(src="images/Moi.jpg", alt="Moi", height="175px", width="130px", id="photo").rounded-circle
                p.text-justify.col-9(id="paragraphe1") Issu de l'AEC en développement de sites Web transactionnels au CÉGEP de Saint-Jean-sur-Richelieu et présentement à la recherche d'un stage et éventuellement d'un emploi comme Web Dev. Ici vous trouverez quelques informations sur moi afin de promouvoir ma candidature pour un poste chez vous. Mes expériences antérieures me permettraient dans le meilleur des mondes de cheminer dans les prochaines années vers un poste de scrum-master ou de product owner. 
        br
        br
        .container.text-center
            h3(id="titre2") Expériences additionnelles
        include cards
        include jumbotron