extends pageLayout 

block content
    body.bg-dark(style="background: url('images/MTL.jpg') center / cover no-repeat;height: 100vh; opacity: 1;filter: brightness(100%);")
        br
        br
        h1(id="titre1").text-center Bienvenue sur mon portfolio
        .container 
            .row
                img.mx-auto.d-block.align-left(src="images/Moi.jpg", alt="Moi", height="175px", width="130px", id="photo").rounded-circle
                p.text-justify.col-9(id="paragraphe1") Dans le cadre de l'AEC en développement de sites Web transactionnels (Web Dev) au CÉGEP de Saint-Jean-sur-Richelieu, je suis présentement à la recherche d'un stage (du 5 juin au 15 juillet 2022) et possiblement d'un emploi comme Web Dev, et ce, dès juillet. Vous trouverez ici quelques informations additionnelles afin de promouvoir ma candidature pour un poste dans votre entreprise. Compte tenu de mes expériences antérieures et de ma personnalité, mon objectif à moyen terme est de cheminer éventuellement vers un poste de Scrum Master ou de Product Owner.
        br
        br
        include buttons
        .container.text-center
            h3(id="titre2") Expériences additionnelles
        include cards
        include jumbotron